@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: rgb(41, 41, 41);
  color: white;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-80%);
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(9), blink 1s ease-in-out 6s infinite;
  border-right: 4px solid #fafafa;
  width: 9ch;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 9ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}
